@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Assign a Machine</h1>

<h4>Assign a Machine to this Engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select a Machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Save" class="btnclass" />
}

<p>@Html.ActionLink("Back to engineers", "Index")</p>


